@import models.{ConfirmCorrespondAddressModel,CompanyRegistrationReviewDetailsModel}
@import common.Constants
@import utils.CountriesHelper
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers.{errorSummary, formInputRadioGroup, textWithConstErrors, backButtonWithProgress}

@(confirmCorrespondAddressForm: Form[ConfirmCorrespondAddressModel], companyDetails: CompanyRegistrationReviewDetailsModel)(implicit request: Request[_], messages: Messages)

@main_template(Messages("page.registrationInformation.ConfirmCorrespondAddress.title")){


<div class="grid-row">
    <div class="column-two-thirds">

        @errorSummary(confirmCorrespondAddressForm, "confirm-correspondence-address", "contactAddressUse")

        <h1 id="main-heading" class="form-title heading-xlarge">@Messages("page.registrationInformation.ConfirmCorrespondAddress.heading")</h1>

        <div id="storedAddressDiv" class="form-group">
            <p id="businessName" class="heading-small">@companyDetails.businessName</p>
            <span id="businessAddress1" class="form-hint">@companyDetails.businessAddress.line_1</span>
            <span id="businessAddress2" class="form-hint">@companyDetails.businessAddress.line_2</span>
            @if(companyDetails.businessAddress.line_3.isDefined){
            <span id="businessAddress3" class="form-hint">@companyDetails.businessAddress.line_3</span>
            }
            @if(companyDetails.businessAddress.line_4.isDefined){
            <span id="businessAddress4" class="form-hint">@companyDetails.businessAddress.line_4</span>
            }
            @if(companyDetails.businessAddress.postcode.isDefined){
            <span id="postcode" class="form-hint">@companyDetails.businessAddress.postcode</span>
            }
            <span id="country" class="form-hint">@CountriesHelper.getSelectedCountry(companyDetails.businessAddress.country)</span>
        </div>

        @form(action = controllers.routes.ConfirmCorrespondAddressController.submit()) {
        <div id="radioContactAddressDiv">
            <div class="form-group">
                @formInputRadioGroup(
                field = confirmCorrespondAddressForm("contactAddressUse"),
                Seq(
                Constants.StandardRadioButtonYesValue->Messages("common.radioYesLabel"),
                Constants.StandardRadioButtonNoValue->Messages("common.radioNoLabel")),
                '_legend -> Messages("page.registrationInformation.ConfirmCorrespondAddress.title"),
                '_legendClass -> "visuallyhidden",
                '_labelAfter -> true,
                '_labelClass -> "block-label",
                '_groupClass -> "inline"
                )
            </div>
        </div>

        <div class="form-group" id="contactAddressButtonDiv">
            <button class="btn button" id="next" type="submit">@Messages("common.button.continue")</button>
        </div>
        }

    </div>
</div>

}