@import models.ContactDetailsSubscriptionModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers.{backButtonWithProgress, input, errorSummary}

@(contactDetailsSubscriptionForm: Form[ContactDetailsSubscriptionModel])(implicit request: Request[_])

@main_template(Messages("page.registrationInformation.ContactDetailsSubscription.title")) {


<div class="grid-row">
    <div class="column-two-thirds">

        @errorSummary(contactDetailsSubscriptionForm, "provide-correspondence-address")

        <h1 id="main-heading" class="form-title heading-xlarge">@Messages("page.registrationInformation.ContactDetailsSubscription.heading")</h1>

        @form(action = controllers.routes.ContactDetailsSubscriptionController.submit()) {
        <div class="form-group">

            @input(
            contactDetailsSubscriptionForm("forename"),
            '_divClass -> "form-label",
            '_labelId -> "label-forename",
            '_label -> Messages("page.registrationInformation.ContactDetailsSubscription.forename.label"),
            '_maxlength -> "35",
            '_inputClass -> "input--medium input--cleared",
            'id -> "forename"
            )

            @input(
            contactDetailsSubscriptionForm("surname"),
            '_divClass -> "form-label",
            '_labelId -> "label-surname",
            '_label -> Messages("page.registrationInformation.ContactDetailsSubscription.surname.label"),
            '_maxlength -> "35",
            '_inputClass -> "input--medium input--cleared",
            'id -> "surname"
            )

            @input(
            contactDetailsSubscriptionForm("telephoneNumber"),
            '_divClass -> "form-label",
            '_labelId -> "label-telephoneNumber",
            '_label -> Messages("page.registrationInformation.ContactDetailsSubscription.telephoneNumber.label"),
            '_maxlength -> "24",
            '_inputClass -> "input--medium input--cleared",
            'id -> "telephoneNumber"
            )

            @input(
            contactDetailsSubscriptionForm("mobileNumber"),
            '_divClass -> "form-label",
            '_labelId -> "label-mobileNumber",
            '_label -> Messages("page.registrationInformation.ContactDetailsSubscription.mobileNumber.label"),
            '_maxlength -> "24",
            '_inputClass -> "input--medium input--cleared",
            'id -> "mobileNumber"
            )

            @input(
            contactDetailsSubscriptionForm("email"),
            '_divClass -> "form-label",
            '_labelId -> "label-email",
            '_label -> Messages("page.registrationInformation.ContactDetailsSubscription.email.label"),
            '_maxlength -> "129",
            '_inputClass -> "input--medium input--cleared",
            'id -> "email"
            )

        </div>
        <div class="form-group">
            <button class="btn button" id="next">@Messages("common.button.continue")</button>
        </div>
        }
    </div>
</div>

}