@import models.ProvideCorrespondAddressModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers.{backButtonWithProgress, input, errorSummary, dropdown}

@(provideCorrespondAddressForm: Form[ProvideCorrespondAddressModel], listOfIsoCode: List[(String, String)])(implicit request: Request[_], messages: Messages)

@pageScripts = {

<script>
    $(document).ready(function() {
      countryCodeAutoComplete()
    });
  </script>
}

@main_template(Messages("page.registrationInformation.ProvideCorrespondAddress.title")) {


<div class="grid-row">
    <div class="column-two-thirds">

        @errorSummary(provideCorrespondAddressForm, "provide-correspondence-address")

        <h1 id="main-heading" class="form-title heading-xlarge">@Messages("page.registrationInformation.ProvideCorrespondAddress.heading")</h1>

        @form(action = controllers.routes.ProvideCorrespondAddressController.submit()) {
        <div class="form-group">
            @input(
            provideCorrespondAddressForm("addressline1"),
            '_divClass -> "form-label",
            '_labelId -> "label-addressline1",
            '_label -> Messages("page.registrationInformation.ProvideCorrespondAddress.addressline1.label"),
            '_maxlength -> "35",
            '_inputClass -> "input--medium input--cleared",
            'id -> "addressline1"
            )
        </div>
        <div class="form-group">
            @input(
            provideCorrespondAddressForm("addressline2"),
            '_divClass -> "form-label",
            '_labelId -> "label-addressline2",
            '_label -> Messages("page.registrationInformation.ProvideCorrespondAddress.addressline2.label"),
            '_maxlength -> "35",
            '_inputClass -> "input--medium input--cleared",
            'id -> "addressline2"
            )
        </div>
        <div class="form-group">
            @input(
            provideCorrespondAddressForm("addressline3"),
            '_divClass -> "form-label",
            '_labelId -> "label-addressline3",
            '_label -> Messages("page.registrationInformation.ProvideCorrespondAddress.addressline3.label"),
            '_maxlength -> "35",
            '_inputClass -> "input--medium input--cleared",
            'id -> "addressline3"
            )
        </div>
        <div class="form-group">
            @input(
            provideCorrespondAddressForm("addressline4"),
            '_divClass -> "form-label",
            '_labelId -> "label-addressline4",
            '_label -> Messages("page.registrationInformation.ProvideCorrespondAddress.addressline4.label"),
            '_maxlength -> "35",
            '_inputClass -> "input--medium input--cleared",
            'id -> "addressline4"
            )
        </div>
        <div class="form-group">
            @input(
            provideCorrespondAddressForm("postcode"),
            '_divClass -> "form-label",
            '_labelId -> "label-postcode",
            '_label -> Messages("page.registrationInformation.ProvideCorrespondAddress.postcode.label"),
            '_maxlength -> "10",
            '_inputClass -> "input--small input--cleared",
            'id -> "postcode"
            )
        </div>
        <div class="form-group">
            @dropdown(provideCorrespondAddressForm("countryCode"),
            elementOptions = listOfIsoCode,
            displayEmptyValue = true,
            '_emptyValueText -> Messages("page.address.country.select"),
            '_labelId -> "label-country",
            '_id -> "countryCode",
            '_inputClass -> "input--medium input--cleared",
            '_label -> Html(Messages("page.registrationInformation.ProvideCorrespondAddress.country.label")))
        </div>
        <div class="form-group">
            <button class="btn button" id="next">@Messages("common.button.continue")</button>
        </div>
        }
    </div>
</div>

}